amalgamate
compositealpha
etopo2shape
grads2shape
gradsdump
gshhs2grads
gshhs2shape
lights2shape
shape2grads
shape2ps
shape2svg
shape2triangle
shape2tz
shape2xml
shapedump
shapefilter
shapefind
shapepack
shapepick
shapepoints
shapeproject
svg2shape
triangle2shape
*~
obj/
Dependencies*
.kdbgrc.*
